#quanLy {
  height: 100vh;
  overflow: scroll;
  display: flex;
  justify-content: flex-start;
  #quanLyMenu {
    width: 200px;
    padding: 20px 10px;
    height: 100vh;
    overflow: scroll;
    background: blueviolet;
    color: white;
    .info {
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-bottom: 1px solid white;
      padding: 10px 5px;
      i {
        cursor: pointer;
      }
    }
    ul {
      margin-top: 20px;
      li {
        height: 40px;
        i {
          // margin-right: 5px;
          width: 30px;
          height: 30px;
          text-align: center;
        }
      }
    }
  }
  #quanLyContent {
    padding: 0 30px;
  }
}

@media screen and (max-width: 992px) {
  #quanLy {
    flex-direction: column;
    #quanLyMenu {
      width: 100%;
      padding: 20px 10px;
      height: 80px;
      background: blueviolet;
      color: white;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .info {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid white;
        padding: 10px 5px;
        width: auto;
        i {
          margin-left: 20px;
        }
      }
      ul {
        margin-top: 20px;
        color: orangered;
        // background-color: whitesmoke;

        li {
          display: inline;
          color: white;
          margin: 0 10px;
          i {
            // margin-right: 5px;
            width: 30px;
            height: 30px;
            text-align: center;
          }
        }
      }
    }
    #quanLyContent {
      padding: 0 10px;
    }
  }
}
