#user{
    margin: 20px;
    #addUser{
        background-color: orangered;
        color: white;
        padding: 10px 20px;
        border-radius: 8px;
    }
    .myTable{
        margin-top: 30px;
        min-width: 400px;
        overflow: scroll;
    }
}