* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#myMain {
  width: 100%;
  height: 100vh;
}

.ReactModal__Content {
  border: none !important;
  /* width: 900px; */
  margin: 0 auto;
  padding: 0;
}
